.NavBar {
    background-color: #6c747c;
    border: 1px solid #dadadf;
  }

.NavLink {
  padding: 5px;
  color: #c4cbd8;
}

.NavLink:hover {
  color: #183251;
}
  
.Active i {
  color: #183251;
}

.Travelled {
  color: #183251;
  font-size: 40px;
  font-weight: 400;
}